[submodule ".vim/bundle/vimerl"]
	path = .vim/bundle/vimerl
	url = http://github.com/jimenezrick/vimerl.git
[submodule ".vim/bundle/vim-thrift"]
	path = .vim/bundle/vim-thrift
	url = https://github.com/johnmorrow/vim-thrift.git
[submodule ".vim/bundle/vim-elixir"]
	path = .vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
